body {
  font-family: 'Outfit', sans-serif;
  background-color: #05070b;
  color: #f3f4f6;
}

/* Scrollbar personalizado y limpio */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #05070b;
}
::-webkit-scrollbar-thumb {
  background: #1f293d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}
